@keyframes slideEffectHeader {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
}

body{
    background-color: #d1dce3;
    margin:1rem;
    padding: 0;
}
header{
    margin:0;
    padding:0.5rem;
    font-size: 2em;
    text-align: center;
    animation: .5s ease-in 0s 1 slideEffectHeader;
}
h1{
    margin:0;
}
h4{
    margin: 0;
}

.flex-menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.flex-item{
    display:flex;
    flex-flow: row;
    justify-content: center;
    flex-grow: 1;

    background-color: #c5cac8;
    border-radius: 30% 70%;

    padding: .5rem;
    margin:.5rem;

    font-size: 1.5em;
    color: black;

    /* https://blog.hubspot.com/website/css-hover-animation for the transition hover effect idea */
    transition: background-color 1s ease-out 25ms 
}

.flex-menu-project{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    
    transition: background-color 1s ease-out 25ms 
}


.flex-project-item{
    display:flex;
    flex-flow: column wrap;
    align-items: center;
    flex-grow: 1;

    background-color: #c5cac8;
    border-radius: 30% 70%;
    width: 33%;
    padding: .5rem;
    margin:.5rem;

    font-size:2vw;
    color: black;
    /* https://blog.hubspot.com/website/css-hover-animation for the transition hover effect idea */
    transition: background-color 1s ease-out 25ms 
}

#about-me{
    display:flex;
    flex-flow: row;
    justify-content: center;
    flex-grow: 1;


    padding: .5rem;
    margin:.5rem;
    color: black;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

img {
    max-width: 35%;
    height: auto\10;
    width: auto\12;
}


#Assignments:hover{
    background-color: #827f74;
}

#Projects:hover{
    background-color: #827f74;
}

#Process:hover{
    background-color: #827f74;
}

#Code:hover{
    background-color: #827f74;
}

#name{
    color: black;
}

#name:hover{
    background-color: #827f74;
    border-radius: 40% 70%;
    transition: background-color 1s ease-out 25ms 
}