img {
    max-width: 35%;
    height: auto\10;
    width: auto\12;
    border-radius: 30% 70%;
}

#Project-1:hover{
    background-color: #827f74;  
}

#Project-2:hover{
    background-color: #827f74;  
}

#Project-3:hover{
    background-color: #827f74;  
}

#Projects{
    background-color: #827f74;
}

