img {
    max-width: 35%;
    height: auto\10;
    width: auto\12;
    border-radius: 30% 70%;
}

#lab-1:hover{
    background-color: #827f74;
}
#lab-2:hover{
    background-color: #827f74;
}
#lab-3:hover{
    background-color: #827f74;
}
#lab-4:hover{
    background-color: #827f74;
}
#lab-5:hover{
    background-color: #827f74;
}
#lab-6:hover{
    background-color: #827f74;
}
#lab-7:hover{
    background-color: #827f74;
}

#Assignments{
    background-color: #827f74;
}

