body{
    padding: 0;
    margin: 0;
    background-color: ivory;
}

html{
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.flex-item {
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    width: 100%;
    text-align: center;
}


#first-item {
font-size: larger;
}


#second-item {
    font-size: large;
}

#third-item {
    font-size: large;
}
  